.heading {
  color: green;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  color: white;
  padding: 20px;
}

.box {
  margin: 20px;
  background-color: black;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  background-color: rgb(124, 125, 128);
  text-align: center;
  height: 200px;
  line-height: 200px;
  font-size: 40px;
  color: red;
}

.text {
  font-size: 30px;
  margin: 20px;
}

.info {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .box {
    width: 90%;
    margin: 10px auto;
  }

  .img {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }

  .info {
    font-size: 16px;
  }
}

.main_imgs {
  width: 10rem;
  height: 6rem;
}
