
/* messy done???? */
@media (min-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .img {
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 240px;
    line-height: 240px;
    font-size: 50px;
    color: red;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;
  }
  
  .box {
    margin: 20px;
    background-color: black;
    width: 260px;
    height: 500px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .booknow {
    background-color: green;
    margin: 20px;
    font-size: 40px;
    color: black;
  }  
}
/* done? */
@media (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
  .img {
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 240px;
    line-height: 240px;
    font-size: 50px;
    color: red;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;
  }
  
  .box {
    margin: 20px;
    background-color: black;
    width: 400px;
    height: 500px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .booknow {
    background-color: green;
    margin: 20px;
    font-size: 40px;
    color: black;
  }  
}
/* done? */
@media (min-width:600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .img {
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 240px;
    line-height: 240px;
    font-size: 50px;
    color: red;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;
  }
  
  .box {
    margin: 20px;
    background-color: black;
    width: 400px;
    height: 500px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .booknow {
    background-color: green;
    margin: 20px;
    font-size: 40px;
    color: black;
  }  
}
/* done? */
@media (min-width:801px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .img {
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 240px;
    line-height: 240px;
    font-size: 50px;
    color: red;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;
  }
  
  .box {
    margin: 20px;
    background-color: black;
    width: 400px;
    height: 500px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .booknow {
    background-color: green;
    margin: 20px;
    font-size: 40px;
    color: black;
  }   
}
/* done? */
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */
  .img {
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 240px;
    line-height: 240px;
    font-size: 50px;
    color: red;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    color: aliceblue;
  }
  
  .box {
    margin: 20px;
    background-color: black;
    width: 400px;
    height: 500px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .booknow {
    background-color: green;
    margin: 20px;
    font-size: 40px;
    color: black;
  }   
}
/* done? */
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */
  .img {
    background-color: rgb(124, 125, 128);
    margin: 20px;
    text-align: center;
    height: 240px;
    line-height: 240px;
    font-size: 50px;
    color: red;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    color: aliceblue;
  }
  
  .box {
    margin: 20px;
    background-color: black;
    width: 400px;
    height: 500px;
  }
  
  .text {
    font-size: 20px;
  }
  
  .booknow {
    background-color: green;
    margin: 20px;
    font-size: 40px;
    color: black;
  }  
}