.userpic{
    background-color: green;
    margin: 20px;
    text-align: center;
    height: 5em;
    width: 6em;
    
    line-height: 5em;
    font-size: 1.5em;
    color: red;
}

.text{
    color: rgb(2, 2, 2);
    font-size: 0.6em;
    height: 2em;
    line-height: 2em;
    
   
}

.container{
    display: flex;
   
}

.container2{
    display: flex;
    margin-top: 1.3em;
    height: 7.4em;
    width: 50%;
    font-size: 1.3em;
    justify-content: space-between;
    
}

.background{
    margin: 1em;
    height: 11em;
    background-color: rgb(255, 255, 255);
}

.blackbb{
    margin: 0.2em;
    background-color: #000;
    height: 100em;
    text-align: center;

    
}

.username{
    
    text-align: center;
    

    width: 11.2em;
}

.but{
    margin-top: 2.2em;
    cursor: pointer;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(216, 27, 137);
    height: 4em;
    width: 20em;
}

.butbox{
    
    margin-left: 17em;
}

@media (min-width:320px)  { 
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    .title {
      width: 400px;
      height: 200px;
      background-color: rgb(37, 129, 83);
      color: black;
    }   
  }
  
  @media (min-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    .title {
      width: 400px;
      height: 200px;
      background-color: rgb(255, 81, 0);
      color: black;
    }   
  }
  
  @media (min-width:600px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .title {
      width: 400px;
      height: 200px;
      background-color: rgb(193, 211, 211);
      color: black;
    }   
  }
  
  @media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .title {
      width: 400px;
      height: 200px;
      background-color: rgb(25, 0, 255);
      color: black;
    }   
  }
  
  @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .title {
      width: 400px;
      height: 200px;
      background-color: rgb(255, 0, 128);
      color: black;
    }   
  }
  
  @media (min-width:1281px) { 
    /* hi-res laptops and desktops */
    .title {
      width: 400px;
      height: 200px;
      background-color: rgb(49, 24, 24);
      color: black;
    }   
  }